# Ignore venv
venv/

# Ignore cached files
__pycache__/

# Ignore Data Folder
data/*


models/*.pt

#Ignore images
src/OCR/images/
!data/test_images
!data/calibration_images
!data/card_images.zip
!data/card_to_label.json

src/OCR/debug_steps
.cache
.DS_Store
*.log

# Ignore Model Weights
src/classification/models/checkpoints/
src/representation_learning/models/checkpoints/

*.pth
**/checkpoints/

