# Ignore venv
venv/

# Ignore cached files
__pycache__/

# Ignore Data Folder
data/*

!data/test_images
!data/card_images
!data/calibration_images
!data/card_to_label.json

.DS_Store
.cache
src/OCR/debug_steps
