beautifulsoup4==4.15.0
fastapi==0.139.2
numpy==2.3.4
opencv_python==4.13.0.92
paddleocr==3.7.0
pandas==3.0.3
Pillow==12.3.0
plotly==6.9.0
pydantic==2.13.4
Requests==2.34.2
streamlit==1.59.2
torch==2.12.1
torchvision==0.27.1
uvicorn==0.51.0
