beautifulsoup4==4.15.0
fastapi==0.139.2
Foundation==0.1.0a0.dev1
numpy==2.5.1
opencv_python==4.13.0.92
paddleocr==3.7.0
pandas==3.0.3
Pillow==12.3.0
plotly==6.9.0
pydantic==2.13.4
pyobjc_framework_cocoa==12.2.1
pyobjc_framework_vision==12.2.1
Requests==2.34.2
streamlit==1.59.2
torch==2.12.1
torchvision==0.27.1
uvicorn==0.51.0
Vision==1.0.0
